/* UserDashboard.css */

.user-dashboard-wrapper {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100vh;
    width: 1800px;
   
  }
  
  .user-dashboard h1 {
    font-size: 24px;
    color: rgb(140, 194, 241);
  }
  
  .user-dashboard p {
    font-size: 18px;
    color: rgb(140, 194, 241);
  }